<script type="text/javascript">
$("#navBar-list").css('display', 'none');
</script>
 <script src="../../js/mousePlayground_yellow.js"></script>
    <div id="canvasContainer_yellow" ></div>
    
{{#if data.project.dark}}
<script type="text/javascript">
	$('body').addClass('dark_project');
	$('body').css('opacity', '1')
</script>
{{else}}
	<script type="text/javascript">
	$('body').addClass('dark_project');
</script>
{{/if}}

<script type="text/javascript">
$(".Voice_h3").css('color', 'rgba(255,255,255,1)');
$(".Cintillo").css('color', 'rgba(255,255,255,0.3)');
</script>
<div id="project-background_color" data-aos="flip-down" style="background:black;"></div>

<script type="text/javascript">
	var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
	if(isMobile.any()){
		$('body').css('background-color', 'rgba(8,15,18,1)');
	}else{
			$('body').css('background-color', 'rgba(8,15,18,1)');
	}
	$('#project-background_color').css('background-color', '{{data.project.bgColor}}');
</script>


<script type="text/javascript">
	$(".page-transition-gradient").animate({
		top:'100vh'
		},200,"easeInOut",function(){
	});
</script>


<div id="project" style="padding-top: 15vh;">
	
	<!-- Video 00 -->
	<div id="project-img_2_v0-container">
		<div class="embed-container">
			<iframe src="https://player.vimeo.com/video/721511587?h=224ec22425&amp;autoplay=0&color=FF9C9C&title=0&byline=0&portrait=0&autopause=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-aos="fade-up" data-aos-delay="100"></iframe>
		</div>
		<script src="https://player.vimeo.com/api/player.js"></script>
		<p class="Cintillo" style="color: rgba(226,226,226,0.45) !important" id="video_00-info" ></p>
	</div>

<!-- scripts -->

<script src="../../js/projectAnimations.js"></script>

<!---

<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/721511587?h=224ec22425&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Reel Director - Lucas Salvaje"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

-->
