
<div id="noise-container">
	<script src="/js/noise/grained.js"></script>
	<div id="noise">
	</div>
	<script type="text/javascript">
		var options = {
	  "animate": true,
	  "patternWidth": 400.0,
	  "patternHeight": 400.0,
	  "grainOpacity": 0.9,
	  "grainDensity": 2.40,
	  "grainWidth": 2.0,
	  "grainHeight": 1.0,
	  "grainChaos": 2,
      "grainSpeed": 4
	}
	grained('#noise',options)
</script>
</div>


